$dark: #141414;
$light: white;
$accent: #00a5c2;
$header-font: "europa", futura, sans;
$body-font: futura, serif;
$gutter: 20px;

@import "../lib/bootstrap.min";
@import "../lib/animate";
@import "global";
@import "index";
@import "about";
@import "work";
@import "contact";