@mixin _breakpoints($min, $max: false) {
    /*@if $max == false {
        @media only screen and (min-width: $min) {
            @content;
        }
    }
    @else {
        @media only screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    }*/
}

@mixin transistion($transistion) {
    transistion: $transistion;
    -webkit-transition: $transistion;
    -moz-transition: $transistion;
}

@mixin box-sizing {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: $dark;
    background: $light;
    font-family: $body-font;
    h1, h2, h3, h4, h5, h5 {
        font-family: $header-font;
        display: inline-block;
    }
    ul, ol {
        margin-bottom: 0;
    }
    a {
        color: inherit;
        font-family: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: lighten($dark, 15%);
            cursor: pointer;
            @include transistion(color 0.05s);
        }
    }
    .underline {
        text-decoration: underline;
    }

    .accent {
        color: $accent;
    }
}

.v-center-outer {
    display: table;
    height: 100%;
    width: 100%;
    .v-center-middle {
        display: table-cell;
        vertical-align: middle;

        .v-center-inner {
            margin: auto;

        }

        .h-center {
            display: table;
            margin: auto;
        }
    }
}

/*.content {
    @include box-sizing;
    position: absolute;
    padding: $gutter;
    width: 100%;
    min-height: 100%;
    top: 0;

    background: white;
    &:empty {
        visibility: hidden;
    }
}*/

#content {
    @include box-sizing;
    height: 100%;
}

ul {
    margin-left: 0;
    padding-left: 0;

    ul li {
        line-height: normal;
    }

    li:last-child {
        margin-bottom: $gutter;
    }
}

ul .bullets {
    margin-left: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0px;
    li { 
        list-style-type: circle;
    }
}