@mixin _breakpoints($min, $max: false) {
    @if $max == false {
        @media only screen and (min-width: $min) {
            @content;
        }
    }
    @else {
        @media only screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
}

@mixin transistion($transistion) {
    transistion: $transistion;
    -webkit-transition: $transistion;
    -moz-transition: $transistion;
}

@mixin box-sizing {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: $dark;
    background: $light;
    font-family: $body-font;
    h1, h2, h3, h4, h5, h5 {
        font-family: $header-font;
        display: inline-block;
    }
    p {
      font-size: 16px;
      line-height: 1.5em;
    }
    ul, ol {
        margin-bottom: 0;
    }
    a {
        color: inherit;
        font-family: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: lighten($dark, 15%);
            cursor: pointer;
            @include transistion(color 0.05s);
        }
    }
    .underline {
        text-decoration: underline;
    }

    .accent {
        color: $accent;
    }
}

.v-center-outer {
    display: table;
    height: 100%;
    width: 100%;
    .v-center-middle {
        display: table-cell;
        vertical-align: middle;

        .v-center-inner {
            margin: auto;
        }

        .h-center-children {
            * {
                display: table;
                margin: auto;
            }
        }

        .h-center {
            display: table;
            margin: auto;
        }
    }

    h1 {
        max-width: 900px;
        font-size: 18px;
        line-height: 1.5em;
        text-align: center;
        padding: 0 $gutter;
    }
}

#content {
    @include box-sizing;
    height: 100%;
}

ul {
    margin-left: 0;
    padding-left: 0;

    ul li {
        line-height: normal;
    }

    li:last-child {
        margin-bottom: $gutter;
    }
}

ul .bullets {
    margin-left: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0px;
    li {
        list-style-type: circle;
    }
}

.border-em {
  border: 2px solid black;
  box-sizing: border-box;
}

.pull-left {
  margin-left: 0;
}

.pull-right {
  margin-right: 0;
}
