.header {    
    @include box-sizing;
    background: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),

    url(../images/downtown-arial.jpg) no-repeat;

    background-size: cover;
    background-position: 40%;
    height: 100%;

    h1 {
        @include _breakpoints(0px, 840px) {
            max-width: 500px;
        }
    }
}

.nav-els {
    @include box-sizing;
    box-sizing: border-box;
    padding: $gutter;
    font-family: $body-font;
    li {
        list-style-type: none;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 0.2em;
        padding-right: 4.5px;
        padding-left: 4.5px;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        background: $dark;
        color: $light;
    }
}